
.tab_border0 {

	border-top-left-radius:3px;
	border-top-right-radius:3px;
	-moz-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
}
.checkNav {
    height: 30px;
    width: 100%;
	font-size:14px;
}
.checkNav a {
	float: left;
	min-width:110px;
	height:25px;
	background:#f8f8f8;
	text-align:center;
	line-height:25px;
	font-size:14px;
	display:inline-block;
	color:#666666;
	border:none;
	margin-top:5px;
	padding:0px 10px;
}
.checkNav a.current{
	line-height:30px;
	color:#333;
	height:30px;
	background:#dadada;
	margin-top:0px;
}
.checkFrm{ padding:5px;}
.checkFrm .btnSmall{ width:50px; height:29px; background:url(../imgs/btn_find.png) no-repeat center; display:inline-block; line-height:29px; text-align:center; color:#fff;}
.checkFrm input{ width:100px; height:28px; padding:0 10px;}

.checkList{}
.checkList table{ border-collapse:collapse;}
.checkList .checkData{ width:650px;}

.checkList .checkData { margin:0 auto; border:0px; border-collapse: collapse; text-align:center; font-size:14px; color:#333333;}
.checkList .checkData  th{ width:156px; height:36px; background:#e0e0e0; border:1px solid #bdbdbd;}
.checkList .checkData  td{ width:156px; height:36px; border:1px solid #bdbdbd; position:relative; }
.checkList .checkData  .two td{ background:#f5f5f5;}
.checkList .recordPages{ width:100%; line-height:40px; text-align:right; }
.checkList .recordPages .pageNav a{ color:#2580E7; padding:0 5px;}
.checkList .recordPages .pageNav span{ padding:0 5px;}