@charset "utf-8";
/* CSS Document */

body, ul, li, ol, p, h1, h2, h3, h4, h5, h6, form, input, td, tr {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    color: #3c3c3c;
    line-height: 1.7;
}

html, body, nav, ul, li, h2, h3, figure, td {

    font-family: "Microsoft YaHei", "Arial";
}

a {
    text-decoration: none;
    color: #888;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

img {
    border: none;
}

a:focus {
    outline: none;
}

/*IE下 a标签点击不出现边框*/
em {
    font-style: normal;
}

i {
    font-style: normal;
}

input, select, textarea:focus {
    outline: none;
}

/*获得焦点是外边框为无*/
.clear {
    clear: both;
    overflow: hidden;
    height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}


.clear {
    clear: both;
}

input, select, textarea {
    outline: none;
    font-family: "Microsoft YaHei";
 /*   -webkit-appearance: none;*/
    outline: none;
    border: 0;
}

ul, li {
    list-style-type: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

a:focus {
    outline: none;
}

.hide {
    display: none !important;
}


/*头部*/
.header-rela {
    position: relative;
    background: #FBB03F;
    width: 100%;
    height: 77px;
    padding: 2px 0;
    opacity: .98;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.g-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3000;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    -webkit-transition: all .6s;
    transition: all .6s;

    width: 100%;
    height: 77px;
    padding: 19px 0;
    opacity: .98;
}

.g-header.header-show {
    margin-top: 0;
    background: #FFFFFF;
}

.header, .footer, .wrap{
    max-width: 1190px;
    margin: 0 auto;
}

.header .logo {
    float: left;
}

.header .denglu {
    line-height: 75px;
    float: left;
    margin-left: 50px;
}

.header .denglu input {
    margin: 0 5px;
    padding: 10px 15px;
    border: solid 1px #dddddd;
    font-size: 14px;
    width: 150px
}

.header .denglu .dlbtn {
    background: #d86ea3;
    color: #fff;
    cursor: pointer;
    border: none;
}

.wjma {
    float: right
}

.wjma a {
    line-height: 75px;
    padding: 0 8px;
    font-size: 14px;
}

.wjma a:last-child {
    color: #ffffff;
}

.foot-lite{
    text-align: center;
    background: #f6f7f7;

    position: fixed;
    left: 0;
    z-index: 3000;
    width: 100%;
    height: 66px;
    padding: 19px 0;
    opacity: .98;
}

.ta-them—grey{ background: #f6f7f7; }

.banner_grey{
    width: 100%; height:14px; background: #f6f7f7;
}

.banner_them{width: 100%; height:14px; background: #d96490;  }