<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- 自动扫描且只扫描@Controller use-default-filters:指扫描-include-filter的注解 -->
	<context:component-scan base-package="com.cyou.open" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" >
		<property name="interceptors">
		    <list>
				<bean class="com.cyou.common.custom.Interceptor" ></bean>
		    </list>
		</property> 
	</bean>
	
	<bean class='org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter'>
		<property name="customArgumentResolvers"> 
			<bean class="com.cyou.common.custom.RequestArgumentResolver" />
		</property>
		<property name='webBindingInitializer'>
			<!-- <bean class='org.springframework.web.bind.support.ConfigurableWebBindingInitializer'> -->
			<bean class='com.cyou.common.custom.MyWebBindingInitializer'>
				<property name='conversionService' ref='conversionService'></property>
				<property name='validator'>
					<bean class='org.springframework.validation.beanvalidation.LocalValidatorFactoryBean'>
						<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
						<!-- 如果不加默认到 使用classpath下的 ValidationMessages.properties -->
						<property name="validationMessageSource" ref="messageSource" />
					</bean>
				</property>
			</bean>
		</property>
		<property name='messageConverters'>
			<list>
				<!-- StringHttpMessageConverter编码为UTF-8，防止乱码 -->
				<bean class="org.springframework.http.converter.StringHttpMessageConverter">
					<constructor-arg value="UTF-8" />
					<property name="supportedMediaTypes">
						<list>
							<bean class="org.springframework.http.MediaType">
								<constructor-arg index="0" value="text" />
								<constructor-arg index="1" value="plain" />
								<constructor-arg index="2" value="UTF-8" />
							</bean>
							<bean class="org.springframework.http.MediaType">
								<constructor-arg index="0" value="*" />
								<constructor-arg index="1" value="*" />
								<constructor-arg index="2" value="UTF-8" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" ></bean><!-- 处理.. -->
				<bean class="org.springframework.http.converter.ResourceHttpMessageConverter" /><!-- 处理.. -->
				<bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter" /><!-- 处理.. -->
				<bean class="org.springframework.http.converter.xml.XmlAwareFormHttpMessageConverter" /><!-- 处理.. -->
				<bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter" /><!-- 处理.. -->
				<!-- sprng3.1.2 开始使用MappingJackson2HttpMessageConverter其中使用 jackson2.* 3.1.2之前用的是 MappingJacksonHttpMessageConverter 依赖的jackson1.* -->
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" /><!-- 处理json -->
	
				<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
				<bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- 国际化的消息资源文件（本系统中主要用于显示/错误消息定制） -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <!-- 在web环境中一定要定位到classpath 否则默认到当前web应用下找  -->
                <value>classpath:messages</value>
                <value>classpath:validation-messages</value>
            </list>
        </property>
        <property name="useCodeAsDefaultMessage" value="false"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="60"/>
    </bean>
    
	<!-- 类型转换及数据格式化 -->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean" />
	
	<!-- 异常处理 -->
	<bean id="exceptionResolver" class="com.cyou.common.custom.CustomExcepitionHandler" />
	
	<!-- 定义JSP文件的位置 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
		<property name="contentType" value="text/html;charset=UTF-8" />
	</bean>

</beans>