
@charset "utf-8";
a {
    color: #981793;
}
body {
    background: url("../../img/bg_body.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.txtArea {
    height: 200px;
    overflow: hidden;
    padding: 5px;
    vertical-align: baseline;
    width: 250px;
    word-wrap: break-word;
}
.headerBox {
    background: url("../../img/bg_menu.gif") repeat-x scroll 0 0 #fff;
    width: 100%;
}
.header {
    background: url("../../img/line_top.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: auto;
    padding-top: 6px;
}
.headerInner {
    margin: 0 auto;
    width: 1004px;
}
.header h1 {
    background: url("../../img/payment_center.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 39px;
    margin-top: 20px;
    padding: 13px 0;
    text-indent: -9999em;
    width: 308px;
}
.header .backToIndex {
    background: url("../../img/icon_home.png") no-repeat scroll -60px 0 rgba(0, 0, 0, 0);
    color: #67666b;
    font-size: 14px;
    padding-left: 10px;
}
.menuBox {
    background: url("../../img/bg_menu.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 14px;
}
.menu {
    margin: 0 auto;
    width: 1004px;
}
.menu ul {
    padding-left: 10px;
}
.menu ul li {
    float: left;
    position: relative;
}
.menu ul li a {
    color: #7eb2fa;
    display: block;
    line-height: 50px;
    padding: 0 40px;
    position: relative;
}
.menu ul li a:hover {
    text-decoration: none;
}
.menu ul .current a {
    color: #fff;
    font-weight: bold;
}
.nav {
    background: url("../../img/bg_nav.png") repeat-y scroll right 0 rgba(0, 0, 0, 0);
    color: #333;
    float: left;
    min-height: 735px;
    width: 243px;
}
.nav dl {
    padding: 60px 0 0;
}
.nav dl dt {
    color: #666;
    font: bold 20px/24px arial;
}
.nav dl dt strong {
    color: #26559e;
    display: inline-block;
    float: left;
    height: 24px;
    line-height: 24px;
    width: 155px;
}
.nav dl dt span {
    color: #999;
    float: left;
}
.nav dl dt .link {
    font-size: 13px;
    padding-left: 10px;
}
.nav dd.navMessage {
    color: #333;
    font-size: 13px;
    margin-top: 5px;
}
.iconNavMessage {
    background: url("../../img/icon_home.png") no-repeat scroll 0 -3px rgba(0, 0, 0, 0);
    display: block;
    height: 12px;
    width: 17px;
}
.navMessage .iconNavMessage {
    float: left;
    margin-top: 3px;
}
.navMessage strong {
    color: #26559e;
}
.nav dd.navCoins {
    color: #666;
    font-size: 14px;
    margin: 30px 0 0 -5px;
}
.navCoins span {
    color: #ff5500;
}
.iconNavCoins {
    background: url("../../img/icon_home.png") no-repeat scroll -22px -1px rgba(0, 0, 0, 0);
    display: block;
    height: 16px;
    width: 10px;
}
.navCoins .iconNavCoins {
    float: left;
    margin: 2px 7px 0;
}
.nav dd.navCoins span {
    font-family: Tahoma,Geneva,sans-serif;
    font-weight: bold;
}
.nav dl dd.navStore {
    margin-top: 12px;
}
.storeBtn {
    background-image: url("../../img/btn_link.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    margin: auto;
    text-align: center;
    width: 220px;
}
.storeBtn:hover {
    background-position: 0 -72px;
    text-decoration: none;
}
.storeBtn:active {
    background-position: 0 -144px;
}
.storeBtn span {
    background-image: url("../../img/btn_link.png");
    background-position: right -36px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 36px;
    width: 217px;
}
.storeBtn:hover span {
    background-image: url("../../img/btn_link.png");
    background-position: right -108px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 36px;
    width: 217px;
}
.storeBtn:active span {
    background-image: url("../../img/btn_link.png");
    background-position: right -180px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 36px;
    width: 217px;
}
.navStore .active {
}
.navStore .active span {
}
.navContainer {
    margin: 40px 0 50px;
    min-height: 174px;
}
.nav ul {
    background: url("../../img/line_list.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.nav ul li {
    line-height: 1;
    padding-top: 3px;
}
.nav ul li a {
    background: url("../../img/btn_list.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px dotted #999;
    color: #666;
    display: block;
    font-family: Arial;
    font-size: 14px;
    height: 58px;
    line-height: 58px;
    text-indent: 20px;
    width: 243px;
}
.nav ul li a:hover {
    background: url("../../img/btn_list.png") no-repeat scroll 0 -61px rgba(0, 0, 0, 0);
    color: #fff;
}
.nav ul li a.current {
    background: url("../../img/btn_list.png") no-repeat scroll 0 -122px rgba(0, 0, 0, 0);
    color: #fff;
    font-weight: bold;
    text-indent: 20px;
}
.describe strong {
    color: #497ccb;
    display: block;
    padding: 20px 0 5px;
}
.describe p {
    color: #8c8c8c;
    width: 218px;
    word-break: break-all;
}
.btnSmall, .storeBtn {
    cursor: pointer;
}
.container {
    background: url("../../img/bg_shadow.png") repeat-y scroll right 0 rgba(0, 0, 0, 0);
    margin: 0 auto;
    text-align: left;
    width: 1032px;
}
.container .wrapper {
    background: url("../../img/bg_body.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 auto;
    width: 1004px;
}
.content {
    background-color: #fff;
    border-left: medium none;
    float: right;
    min-height: 735px;
    width: 761px;
}
.content p {
    line-height: 1.4;
}
.content .listHome dl {
    background: url("../../img/line_content.png") no-repeat scroll right 26px rgba(0, 0, 0, 0);
    float: left;
    height: 300px;
    padding: 80px 20px 0;
    width: 210px;
}
.content .listHome dl dt {
    background-position: center top;
    background-repeat: no-repeat;
    color: #26559e;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin: auto;
    text-align: center;
    width: 100px;
}
.content .listHome dl dd {
    color: #999;
    font-family: Arial;
    font-size: 13px;
    margin-top: 5px;
    position: relative;
}
.content .listHome dl dd a {
    left: 20px;
    position: absolute;
    top: 90px;
}
.content .listHome .listConsume {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.listRcIcon, .listStoreIcon, .listConsumeIcon {
    background: url("../../img/icon_content.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 65px;
    margin: 0 auto 20px;
    width: 85px;
}
.listRcIcon {
    background-position: 17px -2px;
}
.listStoreIcon {
    background-position: -47px -6px;
}
.listConsumeIcon {
    background-position: -135px -11px;
}
.footer {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../../img/bg_menu.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #d7d7d7 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    color: #333;
    font-family: "Arial";
    height: 128px;
}
.footer .copyRight {
    color: #fff;
    font-size: 12px;
    line-height: 128px;
    margin: 0 auto;
    text-align: center;
    width: 1004px;
}
.footer .address {
    color: #999;
    font-size: 13px;
}
.msgWarn {
    background-color: #fffacb;
    border: 1px solid #ffcc00;
    border-radius: 5px;
    color: #e89427;
    padding: 5px 0 5px 35px;
    position: relative;
}
.content .msgWarn {
    margin: 52px 10px 0 19px;
}
.msgWarn .link {
    padding: 0 5px;
}
.msgWarnTips {
    background: url("../../img/icon_home.png") no-repeat scroll -37px -3px rgba(0, 0, 0, 0);
    height: 16px;
    left: 15px;
    position: absolute;
    top: 5px;
    width: 16px;
}
.current .tipArrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #fff;
    border-image: none;
    border-style: dashed dashed solid;
    border-width: 6px;
    font-size: 0;
    height: 0;
    left: 60px;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 39px;
    width: 0;
}
.btnSmall {
    background-image: url("../../img/btn_check.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #12418b;
    display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    margin: auto;
    text-align: right;
    width: 175px;
}
.btnSmall:hover {
    background-position: 0 -56px;
}
.btnSmall:active {
    background-position: 0 -112px;
}
.btnSmall span {
    background-image: url("../../img/btn_check.png");
    background-position: right -28px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 28px;
    text-align: center;
    width: 171px;
}
.btnSmall strong {
    color: red;
    font-weight: normal;
}
.btnSmall:hover span {
    background-position: right -84px;
}
.btnSmall:active span {
    background-position: right -140px;
}
.content dl dd .active {
}
.content dl dd .active span {
}
.checkNav {
    height: 40px;
    margin: 63px auto;
    width: 732px;
}
.checkNav li {
    float: left;
}
.checkNav li a {
    background-image: url("../../img/line_tab.png");
    background-position: right 0;
    background-repeat: repeat;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    outline: medium none;
    padding-right: 2px;
    position: relative;
    text-align: center;
}
.checkNav li a span {
    background-image: url("../../img/line_nav.png");
    background-repeat: repeat;
    display: inline-block;
    font-weight: bold;
    width: 364px;
}
.checkNav a.left span {
    background-position: 0 0;
}
.checkNav a.left:hover span {
    background-position: 0 -38px;
}
.checkNav .current .left span {
    color: #26559e;
}
.checkNav a.right {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.checkNav a.right span {
    background-position: right 0;
}
.checkNav li.current a.left:hover span {
    background-position: 0 0;
}
.checkNav a.right:hover span {
    background-position: right -38px;
}
.checkNav .current .right span {
    color: #26559e;
}
.checkNav li.current a.right:hover span {
    background-position: right 0;
}
.checkNav .current em {
    background: url("../../img/line_nav.png") no-repeat scroll 0 -91px rgba(0, 0, 0, 0);
    bottom: -3px;
    display: block;
    height: 6px;
    left: 175px;
    position: absolute;
    width: 9px;
}
.noRecord {
    padding: 20px 0;
    text-align: center;
}
.btn_check {
    margin: 0 0 0 30px;
    width: 75px;
}
.btn_check span {
    width: 71px;
}
.checkFrm {
    border-bottom: 1px dotted #cbcbcb;
    color: #666;
    margin: auto;
    padding-left: 35px;
    width: 665px;
}
.checkFrm .tips {
    color: #aaa;
    padding: 20px 0;
}
.checkFrm label {
    padding: 0 7px;
    vertical-align: middle;
}
.checkFrm img {
    cursor: pointer;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}
.checkFrm div {
    font-family: Tahoma;
    height: 28px;
    vertical-align: middle;
}
.checkFrm input {
    color: #aaa;
    cursor: pointer;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    width: 150px;
}
.checkList {
    color: #666;
    font-size: 14px;
    margin: auto;
    width: 700px;
}
.checkListTitle {
    display: block;
    padding: 10px 0;
}
table.checkData {
    border: 1px solid #cad9ea;
    color: #666;
    font-size: 12px;
}
table.checkData th {
    background-color: #7692c1;
    color: #fff;
    height: 30px;
}
table.checkData td, table.checkData th {
    border: 1px solid #cad9ea;
    height: 28px;
    padding: 0 1em;
    text-align: center;
}
table.checkData tr.row {
    background-color: #f5fafe;
}
.even {
    background-color: #e2e9f3;
}
.finish .state {
    color: #039509;
}
.noFinish .state {
    color: #ff5300;
}
.pages {
    padding: 10px 0;
}
#process {
    border-bottom: 1px dashed #ebebeb;
    margin: auto;
    padding: 40px 0 20px;
    width: 710px;
}
#process ul {
    margin: auto;
    width: 530px;
}
.process li {
    float: left;
    width: 106px;
}
.process li span {
    background-image: url("../../img/icon_process.png");
    background-repeat: no-repeat;
    display: block;
    height: 60px;
    margin: auto;
    width: 60px;
}
.process strong {
    color: #ababab;
    display: block;
    font-weight: normal;
    text-align: center;
}
.process .node1 strong, .process2 .node3 strong, .process3 .node5 strong {
    color: #27549f;
}
.process .node1 span {
    background-position: 12px -193px;
}
.process .node3 span {
    background-position: 12px -143px;
}
.process .node5 span {
    background-position: 12px -43px;
}
.process .node4 span, .process .node2 span {
    background-position: 0 -335px;
    height: 28px;
    margin-top: 20px;
    width: 17px;
}
.process2 .node2 span, .process3 .node4 span {
    background-position: 0 -300px;
    height: 28px;
    margin-top: 20px;
    width: 17px;
}
.process2 .node3 span {
    background-position: 12px -91px;
}
.process3 .node5 span {
    background-position: 12px 7px;
}
.productList {
    margin: auto;
    padding: 35px 38px 0;
}
.productList li {
    float: left;
    padding: 0 12px 43px;
    text-align: center;
}
.productList li img {
    border: 1px solid #bfcbe1;
    display: block;
    margin-bottom: 10px;
    padding: 1px;
}
.storeFrm .link:hover {
    text-decoration: underline;
}
.storeFrm .uersName {
    font-weight: bold;
    width: 230px;
}
.storeFrm {
    color: #666;
    font-size: 12px;
}
.storeFrm .rcCoins {
    border: 1px solid #becbe0;
    color: #000;
    height: 22px;
    margin-right: 10px;
    vertical-align: middle;
    width: 150px;
}
.coins {
    color: #ff5300;
    font: bold 14px Tahoma,Geneva,sans-serif;
    padding-right: 10px;
}
.exchangeFrm strong {
    color: #666;
    float: left;
    font-weight: normal;
    text-align: right;
    width: 250px;
}
.successContainer {
    color: #666;
    padding-top: 40px;
}
.successContainer p {
    height: 50px;
    line-height: 50px;
}
.tipsWrapper {
    color: #666;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}
.tipsWrapper .userName {
    color: #25559d;
}
.tipsSucess {
    background: url("../../img/pic_ok.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 36px;
    margin-bottom: -10px;
    padding: 0 5px;
    width: 36px;
}
.successWrapper {
    background-color: #ecf9dd;
    line-height: 30px;
    margin: auto;
    width: 490px;
}
.successWrapperTop, .successWrapperBottom {
    padding: 40px 0 40px 160px;
}
.successWrapperTop {
    border-bottom: 1px dotted #bbdda0;
    padding-bottom: 30px;
}
.storeFrm {
    color: #25559d;
    font-size: 14px;
    padding: 40px 0 0;
}
.storeFrm div, .storeFrm p {
    line-height: 24px;
    padding: 12px 0 8px;
}
.storeFrm .fnLeft {
    color: #666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    width: 300px;
}
.storeFrm .btnSmall {
    margin-right: 10px;
    width: 125px;
}
.storeFrm .btnSmall span {
    width: 121px;
}
.storeFrm .inpSmall input {
    margin-right: 2px;
    width: 72px;
}
.storeFrm a {
    font-size: 12px;
}
.payType {
    background-color: #fffbe1;
    border-bottom: 1px dotted #f9a800;
    margin: 0 20px 10px;
    padding: 10px 15px;
}
.payType dt {
    color: #26559e;
    font-size: 14px;
    padding-bottom: 20px;
}
.payTypeList li {
    background-color: #fff;
    border: 1px solid #fcaa00;
    float: left;
    height: 72px;
    margin: 5px 10px;
    overflow: hidden;
    text-align: center;
    width: 145px;
}
.payTypeList li img {
    display: block;
    margin: 0 auto;
}
ul.tabs {
    height: 40px;
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    width: 720px;
}
ul.tabs li {
    float: left;
    list-style-image: none !important;
    margin: 0 !important;
    padding: 0;
    text-indent: 0;
}
ul.tabs a {
    background-image: url("../../img/line_tab.png");
    background-position: right 0;
    background-repeat: no-repeat;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    outline: medium none;
    padding-right: 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 238px;
}
ul.tabs a span, ul.tabs a:hover span {
    background-image: url("../../img/line_nav.png");
    background-position: center 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 238px;
}
ul.tabs li a.current span {
    color: #26559e;
}
ul.tabs a:hover span {
    background-position: center -38px;
}
ul.tabs li .current:hover span {
    background-position: center 0;
}
ul.tabs .firstTab a span {
    background-position: 0 0;
}
ul.tabs li.firstTab a:hover span {
    background-position: 0 -38px;
}
ul.tabs li.firstTab a.current span {
    background-position: 0 0 !important;
}
ul.tabs .lastTab a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
ul.tabs .lastTab a span {
    background-position: right 0;
}
ul.tabs li.lastTab a:hover span {
    background-position: right -38px;
}
ul.tabs li.lastTab a.current span {
    background-position: right 0 !important;
}
ul.tabs li a.current em {
    background: url("../../img/line_nav.png") no-repeat scroll 0 -91px rgba(0, 0, 0, 0);
    bottom: -3px;
    display: block;
    height: 6px;
    left: 109px;
    position: absolute;
    width: 9px;
}
ul.tabs a:active {
    outline: medium none;
}
.panes .pane {
    display: none;
}
a:active {
    outline: medium none;
}
:focus {
}
.panes div {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    font-size: 14px;
    margin: 0 20px;
    padding: 10px 15px;
}
.numSelList {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #2a76c3 #c3dae4 #c3dae4;
    border-image: none;
    border-right: 1px solid #c3dae4;
    border-style: solid;
    border-width: 2px 1px 1px;
    color: #686868;
    margin-left: 230px;
    width: 300px;
}
.numSelList div.title {
    background-color: #759de2;
    color: #fff;
    float: left;
    width: 150px;
}
.numSelList div.title strong {
    display: block;
    text-align: left;
    text-indent: 30px;
}
.numSelList label {
    cursor: pointer;
    display: block;
    margin-right: 10px;
    padding: 2px 0;
    width: 290px;
}
.numSelList label span {
    color: #666;
    display: inline-block;
    padding: 2px 5px;
    width: 120px;
}
.numSelList label strong {
    color: #f24a00;
    font-weight: bold;
}
.numSelList label span strong {
    font-weight: normal;
    padding-right: 5px;
}
.numSelList .current {
    background-color: #e6f3f9;
}
.numSelList .cur {
    background: url("../../img/icon_numSel.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
}
.numSelList .numSel {
    border: medium none;
    margin-left: 30px;
}
.help-content {
    padding: 20px 60px 60px;
}
.help-node {
}
.help-node h5 {
    background: url("../../img/help-list.gif") no-repeat scroll right 2px rgba(0, 0, 0, 0);
    color: #106bc8;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    padding-right: 15px;
}
.help-node h5 a {
    color: #106bc8;
}
.help-node h5 a:hover {
    text-decoration: none;
}
.help-content .closed h5 {
    background: url("../../img/help-list.gif") no-repeat scroll right -48px rgba(0, 0, 0, 0);
}
.help-node div {
    background: none repeat scroll 0 0 #f4f8fd;
    border: 1px solid #dfebf6;
    border-radius: 4px;
    line-height: 1.6em;
    margin: 10px 0 20px;
    padding: 15px 20px;
    position: relative;
    width: 549px;
}
.help-node div a {
    color: #106bc8;
    text-decoration: underline;
}
.help-content .closed div {
    display: none;
}
.help-node .bg {
    background: url("../../img/help-info.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 12px;
    left: 60px;
    position: absolute;
    top: -11px;
    width: 12px;
}
.help-node div img {
    vertical-align: baseline;
}
.help-node div h6 {
    color: #106bc8;
    font-size: 12px;
    padding: 5px 0;
}
.help-node div p {
    padding: 3px 0;
}
.simple_overlay {
    background-color: #fff;
    border: 1px solid #666;
    display: none;
    min-height: 200px;
    width: 675px;
    z-index: 10000;
}
.simple_overlay .close {
    background-image: url("../../img/btn_Close.png");
    background-position: right 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block !important;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
}
.simple_overlay .close:hover {
    background-position: -20px 0;
}
.simple_overlay .close:active {
    background-position: -40px 0;
}
#triggers {
    text-align: center;
}
#triggers img {
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 0 5px;
    padding: 2px;
}
.details {
    color: #fff;
    font-size: 11px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 150px;
}
.details h3 {
    color: #aba;
    font-size: 15px;
}
.pointTitle {
    background: url("../../img/bg_menu.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.pointTxt {
    background-color: #fff;
    color: #666;
    padding: 30px 10px;
}
.pointTxt div {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 10px 0;
}
.tipsWarn {
    background: url("../../img/icon_alert.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 36px;
    margin-right: 10px;
    width: 36px;
}
.failContainer {
    color: #666;
}
.failContainer div {
    height: 36px;
    line-height: 36px;
    margin: auto;
    padding: 5px 0;
}
.tipsFail {
    background: url("../../img/icon_error.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 36px;
    width: 36px;
}
.tipsErrorContainer {
    background-color: #e9eef5;
    border: 1px solid #c0cee3;
    color: #666;
    margin: 60px auto;
    padding: 30px 80px;
    vertical-align: top;
    width: 559px;
}
.errorContainer {
    background-color: #e9eef5;
    border: 1px solid #c0cee3;
    margin: 30px auto;
    padding: 60px 0 70px;
    width: 600px;
}
.errorWrapper {
    color: #6f6f6f;
    margin: 0 auto 30px;
    text-align: center;
    width: 400px;
}
.errorInfo {
    color: #666;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
}
.errorInfo span {
    background: url("../../img/icon_error_404.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: inline-block;
    line-height: 24px;
    padding: 20px 0 20px 70px;
    text-align: left;
}
.errorContainer .link {
    color: #26559e;
    font-size: 14px;
}
.agreementContent {
    color: #555;
    padding: 50px 35px;
}
.agreementContent p {
    line-height: 20px;
    padding-bottom: 10px;
}
.agreementContent ol {
    line-height: 1.2;
    list-style: decimal outside none;
    margin-left: 20px;
}
.agreementContent .title {
    padding-bottom: 30px;
}
.agreementContent dt {
    padding: 20px 0 15px;
}
.quetionTitle {
    padding: 50px 50px 10px 20px;
}
.quetionTitle h2 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
.quetionTitle .link {
    font-size: 14px;
}
.storeFrm .frmPara {
    background-color: #fffacb;
    border: 1px solid #ffcc00;
    margin: 0 10px 0 30px;
    padding: 15px 50px;
}
.storeFrm .Wdate {
    cursor: pointer;
}
.storeFrm .frmPara .fnLeft {
    width: 220px;
}
.storeFrm .tips .link {
    font-size: 14px;
}
.frmPara .rcCoins {
    width: 260px;
}
.recordPages {
    padding: 15px 0 20px;
    position: relative;
}
.recordPages .pageCount {
    position: absolute;
    right: 20px;
    top: 18px;
}
.pageNav {
    font-size: 14px;
    text-align: center;
}
.pageNav a, .pageNav span {
    display: inline-block;
    padding: 3px;
}
.pageNav a {
    color: #497ccb;
    text-decoration: none;
}
.pageNav a:hover {
    color: #497ccb;
    text-decoration: underline;
}
.pageNav span {
    color: #8c8c8c;
}
.myServiceFrm {
}
.myServiceFrm div.fnClear {
    padding: 10px 0;
}
.myServiceFrm div .fnLeft {
    width: 77px;
}
.myServiceFrm label {
    color: #333333;
    font: 14px/14px "微软雅黑","宋体","Arial";
}
.service_name {
    color: #333333;
    font: 14px/14px "微软雅黑","宋体","Arial";
}
.Service_report {
    color: #999999;
    font: 12px/14px "Arial";
}
.Service_report em {
    color: #3399ff;
}
.serviceCoin {
    color: #333333;
    font: 13px/13px Arial;
}
.serviceCoin em {
    color: #ff6633;
    font: 18px/18px "微软雅黑","宋体","Arial";
}
.serviceCoin strong {
    font-size: 16px;
    font-weight: normal;
}
.Service_tips {
    color: #999999;
    font: 12px/12px "Arial";
    margin-left: 77px;
}
.btn_Service {
    background: none repeat scroll 0 0 #729bdf;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: bold 20px/20px "微软雅黑","宋体","Arial";
    height: 50px;
    margin: 0 auto;
    text-align: center;
    width: 186px;
}
.serviceCoin {
    position: relative;
}
i.del {
    border-bottom: 1px solid red;
    height: 1px;
    position: absolute;
    top: 5px;
    width: 100%;
}
.profit {
    color: red;
    font-size: 14px;
}
.preview {
}
.preview div {
    display: none;
}
.preview table {
    border-collapse: collapse;
}
.preview table, .preview table td {
    border: 1px dashed #a5c85b;
}
.preview table td {
    color: #5d869f;
    font: 12px/12px "宋体","Arial";
    height: 66px;
    padding-left: 20px;
    text-align: left;
    width: 167px;
}
.preview table img {
    padding-right: 10px;
    vertical-align: -10px;
}
.preview table td em {
    color: #ff0000;
}
.vipLink {
    color: #ff5500;
    font: 12px/12px "宋体","Arial";
    text-decoration: none;
}
.vipLink:hover {
    text-decoration: underline;
}
.iconNew {
    background: url("../../img/icon_new.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 15px;
    position: absolute;
    right: 18px;
    top: 8px;
    width: 24px;
}
.divide {
    border-top: 1px dashed #ebebeb;
    height: 1px;
    width: 100%;
}
.vipProgress {
    color: #666;
    font: 14px/1.5 "宋体";
}
.vipProgressInner {
    border: 1px solid #d4d4d4;
    height: 10px;
    margin: 4px 4px 0;
    position: relative;
    width: 200px;
}
.vipProgressInner span {
    background: url("../../img/progessBar.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #8aad4b;
    display: block;
    height: 10px;
    left: -1px;
    position: absolute;
    top: -1px;
}
.vipTime {
    color: #27549f;
    font-family: Arial;
    font-size: 14px;
}
.vipType {
}
.planPay {
    color: #ff0000;
    font: bold 14px/14px "arial";
}
.vipType li {
    color: #12418b;
    font-size: 12px;
    height: 40px;
    line-height: 25px;
}
.vipType span {
    color: #ff0000;
}
.vipType a {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #d4d4d4;
    color: #666666;
    display: inline-block;
    font: 14px/24px "Arial";
    height: 24px;
    margin-right: 10px;
    text-align: center;
    width: 67px;
}
.vipType a:hover, .vipType a.selected {
    background: url("../../img/service_On.jpg") no-repeat scroll right bottom #ffffff;
    border: 1px solid #608908;
    color: #608908;
}
.vipPlan .ps {
    color: #999;
    font: 12px/1.5 "Arial";
}
.vipCal span {
    background-color: #f5f5f5;
    border: 1px solid #d4d4d4;
    color: #555555;
    display: inline-block;
    font: 14px/40px "Arial";
    height: 40px;
    text-align: center;
    width: 110px;
}
.icon_equal {
    background: url("../../img/equal.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 6px;
    width: 9px;
}
.icon_star {
    background: url("../../img/star.gif") no-repeat scroll center 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 8px;
    width: 8px;
}
.icon_plus {
    background: url("../../img/plus.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 10px;
    width: 10px;
}
.planTitle {
    color: #666;
    padding: 20px 0;
}
.vipPlan table, .vipPlan table td {
    border: 1px solid #d4d4d4;
}
.vipPlan table span {
    color: #ff0000;
    font-family: "tahoma";
}
.vipPlan table td {
    color: #666;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
}
.vipPlan table img {
    display: block;
    margin: 0 auto 5px;
    text-align: center;
}
.vipPlan table td.col {
    font-size: 12px;
}
