/* CSS Document */


<!-- 时间轴 start-->
#timeline_wrapper {
	width: 864px;
	margin-left: 16px
}

#timeline {
	padding-top: 30px;
	padding-bottom: 25px;
	background: url(/images/timeline_line.png) repeat-y 498px 0;
	position: relative;
	z-index: 10px
}

#timeline section .feed-replies,#timeline section .feed-comment {
	display: none
}

#timeline>section.first-month .feed-replies,#timeline>section.first-month .feed-comment {
	display: block
}

.born {
	background: url(http://s.xnimg.cn/apps/profile2/res/timeline/bg_timeline_bar2.gif) repeat-y 431px 0
}

#timeline .feed_loading {
	padding: 10px 0;
	text-align: center;
	background: 0 0;
	clear: both
}

#timeline .timeline_feed,.born .timeline_feed {
	margin-bottom: 80px;
	width: 432px;
	position: relative;
	zoom: 1
}

#timeline .tll_feed {
	float: left;
	clear: left
}

#timeline .tll_feed i {
	position: absolute;
	width: 93px;
	height: 14px;
	background: url(/images/bg_dot_right3.png) no-repeat;
	;top: 15px;
	right: -73px;
	text-indent: -9999em
}

#timeline .tll_feed:hover i {
	background-position: 0 -14px
}

#timeline .tlr_feed {
	float: right;
	clear: right
}

#timeline .tlr_feed i {
	position: absolute;
	width: 93px;
	height: 14px;
	background: url(/images/bg_dot_left3.png) no-repeat;
	;top: 15px;
	left: -73px;
	text-indent: -9999em
}

#timeline .overlap i,#timeline .overlap:hover i {
	top: 80px
}

#timeline .tlr_feed:hover i {
	background-position: 0 -14px
}

#timeline .timeline_feed section,.born .timeline_feed section {
	width: 411px;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	background: #fff;
	text-align: left
}

#timeline .timeline_feed:hover section,.born .timeline_feed:hover section {
	border-color: #8c8c8c
}

#timeline .tlr_feed section {
	float: right
}

#timeline .tlf_feed,.born .tlf_feed {
	clear: both;
	width: auto
}

#timeline .tlf_feed section,.born .tlf_feed section {
	width: auto
}

#timeline .tlf_feed i,.born .tlf_feed i {
	position: absolute;
	width: 11px;
	height: 23px;
	background: url(http://s.xnimg.cn/apps/profile2/res/timeline/bg_dot_top4.png) no-repeat;
	;top: -22px;
	left: 427px;
	text-indent: -9999em
}

#timeline .tlf_feed:hover i,.born .tlf_feed:hover i {
	background-position: 0 -23px
}

#timeline .timeline_feed .highlight {
	position: absolute;
	cursor: pointer;
	top: 5px;
	right: 10px;
	display: none
}

#timeline .timeline_feed:hover .highlight {
	display: block
}

#timeline .tll_feed .highlight {
	right: 34px
}

#timeline .timeline_marker,#timeline .timeline_marker_combine,#timeline .timeline_marker_combine_month,#timeline .show_more,.born .timeline_marker {
	clear: both;
	text-align: center;
	padding: 20px 0 32px 0;
	padding-left: 416px;
	padding-left: 0\9
}

.born .timeline_marker {
	padding-top: 0!important
}

#timeline .timeline_marker span,#timeline .timeline_marker_combine span,#timeline .timeline_marker_combine_month span,#timeline .show_more span,.born .timeline_marker span {
	background: #c7c7c7;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	width: 170px;
	padding: 5px 0;
	border-radius: 5px;
	display: table-cell;
	vertical-align: middle;
	display: inline-block\9
}

#timeline .timeline_marker_combine_month span,#timeline .show_more span {
	font-size: 12px
}

#timeline .timeline_marker_combine {
	padding-top: 68px;
	padding-bottom: 68px
}

#timeline .timeline_marker_combine span,#timeline .timeline_marker_combine_month span,#timeline .show_more span {
	background: #369;
	cursor: pointer
}

#timeline .timeline_marker_combine span:hover,#timeline .timeline_marker_combine_month span:hover,#timeline .show_more span:hover {
	text-decoration: underline
}

#timeline_nav {
	width: 100px;
	position: fixed;
	top: 43px;
	;;
}

#timeline_nav li {
	margin-bottom: 2px;
	border-left: 6px solid #ccd3e1;
}

#timeline_nav li:hover {
	border-color: #adb6c9
}

#timeline_nav li a {
	padding: 5px 0 5px 10px;
	color: #8d9ccf;
	display: inline-block;
	outline: 0;
	blr: expression(this.onFocus=this.blur())
}

#timeline_nav li.current {
	border-color: #369
}

#timeline_nav li a:hover {
	text-decoration: none
}

#timeline_nav li.current a {
	color: #369;
	font-size: 20px
}

#timeline_nav ol li {
	border: none;
	padding-left: 1.5em;
	padding-bottom: 3px
}

#timeline_nav ol a {
	padding: 0
}

#timeline_nav li.current ol a {
	color: #8d9ccf;
	font-size: 12px
}

#timeline_nav ol li.current a {
	color: #369;
	font-weight: 700
}

.status-voice {
margin-bottom: -15px;
position: relative
}

.photo-voice {
position: absolute!important;
left: 50%;
top: 15px;
margin-left: -42px
}

.tl-a-feed .tl-feed-actions {
display: none
}

.tl-a-feed:hover .tl-feed-actions,.tl-a-feed-hover .tl-feed-actions {
position: absolute;
display: block;
background: 0 0;
top: 10px;
right: 10px;
text-align: right
}

.tl-feed-actions menu {
background: 0 0;
font-size: 0
}

.tl-feed-actions menu a {
margin-right: 40px;
float: left;
display: block;
border: 1px solid #AAA;
border-radius: 3px;
width: 68px;
height: 30px;
line-height: 26px;
background: url(/images/delete_btn.png) 0 0 repeat-x;
color: #333
}

.tl-feed-actions menu a:hover {
border-color: #8c8c8c;
background-image: url(/images/delete_btn.png)
}

.tl-feed-actions menu span {
font-size: 12px;
display: inline-block;
zoom: 1;
text-align: left;
padding: 0 10px 0 25px;
width: 68px;
height: 30px;
line-height: 26px;
color: #333;
font-weight: 700;
font-size: 0;
width: 0;
overflow: hidden
}

.tl-new-feed .content {
zoom: 1;
padding: 20px 18px 0 20px
}

.tl-new-feed .share-feed {
zoom: 1;
padding: 20px 18px 20px 20px
}

.tl-new-feed .content:after {
content: '\20';
display: block;
clear: both
}

.tl-new-feed .content-header {
height: 26px;
padding-bottom: 20px;
}

.tl-new-feed .content-header span {
display: block
}

.tl-new-feed .content-header .day {
float: left;
font-size: 35px;
line-height: normal;
color: #333;
font-weight: 700;
font-family: arial;
margin: -6px 0 0;
width: 45px
}

.tl-new-feed .content-header .time-right {
float: left;
width: 36px
}

.tl-new-feed .content-header .info {
float: left;
height: 28px;
border-left: 1px solid #ebebeb
}

.tl-new-feed .content-header .info .location {
background: url(http://a.xnimg.cn/apps/profile2/res/lifeevent/address.png) no-repeat scroll 10px 2px transparent;
height: 17px;
line-height: 17px;
padding-left: 25px
}

.tl-new-feed .content-header .month,.tl-new-feed .content-header .year {
font-size: 12px;
color: #888
}

.tl-new-feed .content-main {
line-height: 20px;
padding: 0 0 20px 0
}

.tl-new-feed .content-photo {
line-height: 20px;
padding: 7px 0 20px 0
}

.tl-new-feed .content-main p {
line-height: 20px;
word-break: break-all;
word-wrap: break-word
}

.tl-new-feed .content-main .title {
margin-bottom: 4px
}

.tl-new-feed .legend {
zoom: 1;
height: 34px;
line-height: 34px;
background-color: #f7f7f7;
border-top: 1px solid #ebebeb;
padding: 0 0 0 20px;
border-radius: 0 0 3px 3px;
overflow: hidden
}

.tl-new-feed .legend:after {
content: '\20';
display: block;
clear: both
}

.tl-new-feed .legend a {
display: block;
color: #8692aa;
height: 35px;
line-height: 35px
}

.tl-new-feed .legend .type {
float: left;
height: 34px;
line-height: 34px;
color: #c2c2c2
}

.tl-new-feed .legend .privacy-trigger {
float: left;
height: 34px;
margin-top: -2px;
position: relative
}

.tl-new-feed .legend .replied {
float: right;
color: #abb4c6;
font-size: 12px;
padding: 0 20px 0 33px;
background: url(http://a.xnimg.cn/apps/profile2/res/feed/new/icon.png) 13px -133px no-repeat;
}

.tl-new-feed .legend .replied:hover {
color: #fff;
text-decoration: none;
background: url(http://a.xnimg.cn/apps/profile2/res/feed/new/icon.png) #8596b6 13px -167px no-repeat;
;border-radius: 0 0 2px 0
}

.tl-new-feed .legend .shared {
float: right;
color: #abb4c6;
font-size: 12px;
padding: 0 15px 0 34px;
background: url(http://a.xnimg.cn/apps/profile2/res/feed/new/icon.png) 14px -66px no-repeat;
}

.tl-new-feed .legend .shared:hover {
color: #fff;
text-decoration: none;
background: url(http://a.xnimg.cn/apps/profile2/res/feed/new/icon.png) #8596b6 14px -100px no-repeat;
}

.tl-new-feed .legend .like {
float: right;
color: #abb4c6;
font-size: 12px;
padding: 0 15px 0 41px;
background: url(http://a.xnimg.cn/apps/profile2/res/feed/new/icon.png) 15px 0 no-repeat;
}

.tl-new-feed .legend .liked {
background: url(http://a.xnimg.cn/apps/profile2/res/cover/zan.png) 15px -28px no-repeat;
}



#timeline .tl-left-module {
clear: left;
float: left
}

#timeline .gossip-box {
background-color: #FFF;
border: 1px solid #D1D1D1;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 1px 1px #D0D0D0;
margin-bottom: 25px;
width: 411px
}

#timeline .gossip-box a {
outline: 0;
blr: expression(this.onFocus=this.blur())
}

#timeline .m-editor {
padding: 10px 10px 0
}

#timeline .m-editor .m-editor-textarea {
position: relative
}

#timeline .m-editor .m-editor-textarea .gossip-success {
position: absolute;
left: 20px;
top: 15px;
background: url(http://a.xnimg.cn/apps/profile2/res/feed/right.png) 0 0 no-repeat;
padding-left: 20px;
color: #898989
}

#timeline .m-editor .m-editor-textarea textarea {
width: 381px;
height: 32px;
background-color: #fff;
border: 2px solid #acb5c9
}

#timeline .m-editor .gossip-footer {
position: relative;
width: 390px;
padding: 10px 0
}

#timeline .m-editor .gossip-footer label {
height: 28px;
line-height: 28px;
color: #888;
padding-left: 4px
}

#timeline .m-editor .m-editor-action {
float: left;
padding-top: 0
}

#timeline .m-editor .m-editor-action a.delete {
background: none repeat scroll 0 0 transparent;
display: inline;
float: none;
padding-right: 5px
}

#timeline .m-editor #whisper {
float: left;
height: 28px;
line-height: 28px
}

#timeline .m-editor .gossip-footer .enable-button {
position: absolute;
top: 10px;
right: 0;
background: url(http://a.xnimg.cn/apps/profile2/res/lifeevent/save.png) no-repeat 0 0 transparent;
border: none;
color: #FFF;
cursor: pointer;
font-size: 12px;
height: 28px;
line-height: 28px;
overflow: visible;
width: 70px;
padding: 0;
text-align: center
}

#timeline .m-editor .gossip-footer .disable-button {
position: absolute;
top: 10px;
right: 0;
background: url(http://a.xnimg.cn/apps/profile2/res/lifeevent/cancel.png) no-repeat 0 0 transparent;
border: none;
color: #aaa;
cursor: pointer;
font-size: 12px;
height: 28px;
line-height: 28px;
overflow: visible;
width: 70px;
padding: 0;
text-align: center
}

#timeline .m-editor-action .m-editor-photo {
background: url(http://a.xnimg.cn/apps/profile2/res/feed/gossip-icon.png) no-repeat scroll 0 -106px transparent;
color: gray;
display: inline-block;
float: left;
height: 28px;
line-height: 28px;
overflow: hidden;
padding-left: 0
}

#timeline .m-editor-action .m-editor-photo:hover {
background-position: 0 -134px
}

#timeline .m-editor-action a {
background: url(http://a.xnimg.cn/apps/profile2/res/feed/gossip-icon.png) no-repeat 0 6px transparent;
display: block;
float: left;
line-height: 28px;
outline: medium none
}

#timeline .m-editor-action a.m-editor-emo:hover {
background-position: 0 -22px
}

#timeline .m-editor-action a.m-editor-emo {
height: 28px;
padding-left: 28px
}

#timeline .m-editor-action a.m-editor-color {
background: url(http://a.xnimg.cn/apps/profile2/res/feed/gossip-icon.png) no-repeat 0 -50px;
height: 28px;
padding-left: 25px;
margin-right: 8px
}

#timeline .m-editor-action a.m-editor-color:hover {
background-position: 0 -78px
}

#commentPostForm {
position: relative
}

#timeline .gossip-box .gossip-list {
position: relative;
height: 33px;
line-height: 33px;
padding: 0 10px;
background-color: #f2f2f2
}

#timeline .comment-holder {
background-color: #f2f2f2
}

#timeline .comment-holder .cmt-nopermission {
border-top: 1px solid #fff;
text-align: center;
padding: 10px 0;
color: #888
}

#timeline .cmt-list .comment {
border-top: 1px solid #fff;
border-bottom: 1px solid #d1d1d1;
overflow: hidden;
padding: 10px
}

#timeline .cmt-list .actor-img {
display: block;
float: left;
height: 30px;
overflow: hidden;
padding-top: 0!important;
width: 30px
}

#timeline .cmt-list .actor-img a {
background-repeat: no-repeat;
display: block;
height: 30px;
width: 30px
}

#timeline .cmt-list .actor-img img {
width: 30px;
height: 30px
}

#timeline .cmt-list .cmt-body {
margin-left: 40px;
padding-top: 0
}

#timeline .cmt-list .attachment img {
cursor: url(http://a.xnimg.cn/imgpro/cursor/zoom-in.cur),pointer
}

#timeline .with-gift .png-holder {
float: right;
margin-left: 10px;
width: 64px
}

#timeline .png-img a,.png-img a:hover {
display: block;
height: 64px;
text-decoration: none
}

#timeline .cmt-list .comment .cmt-body .info {
overflow: hidden;
zoom: 100%
}

#timeline .cmt-list .comment .cmt-body .info .time {
float: left
}

#timeline .cmt-list .comment .cmt-body .author {
float: left;
margin-right: 5px
}

#timeline .cmt-list .comment .cmt-body .author img {
margin-right: 5px
}

#timeline .cmt-list .comment .cmt-body .actions {
border-bottom: 1px solid #D1D1D1;
float: right;
width: 45px
}

#timeline .cmt-list .comment .cmt-body .actions .reply,.cmt-list .comment .cmt-body .actions .del {
float: left
}

#timeline .cmt-list .comment .super-actions {
float: right;
padding-top: 2px
}

#timeline .cmt-list .comment .super-actions .arrow {
display: block;
height: 16px;
width: 16px;
background: url(http://a.xnimg.cn/imgpro/home/home_icon.png?timestamp=091126) no-repeat scroll -36px -331px transparent
}

#timeline .cmt-list .comment .super-actions .arrow:hover {
background-position: -36px -347px
}

#timeline .nocomments p {
	padding: 10px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d1d1d1;
	text-align: center;
	color: #888;
}

<!-- 时间轴 end -->
